.App {
  /* text-align: right; */
  /* margin-left: 20%; */
}
.navigationbar{
  /* height: 60px; */
  background-color: hotpink;
  background-image: linear-gradient(to left, rgb(253, 77, 165),rgb(255, 173, 214));
  text-align: right;
  position: relative;
  /* display: flex; */
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: right;
  padding: 1.5rem 4rem;
  margin-bottom: 3rem;
  color: white;
}
.form-group{
  padding-left: 3rem;
}
